{% extends 'serverctl/base.html' %}

{% block title %}index{% endblock %}

{% block content %}
  <h2>ログイン</h2>
  <form action="{% url 'serverctl:login' %}" method="post">
  {% csrf_token %}
  <label for="username">ユーザー名</label>
  <input name="username" id="username" type="text">
  <label for="password">パスワード</label>
  <input name="password" id="password" type="password">
  <button type="submit">ログイン</button>
  </form>

  <h2>新規登録</h2>
  <form action="{% url 'serverctl:signup' %}" method="post">
  {% csrf_token %}
  <label for="username">ユーザー名</label>
  <input name="username" id="username" type="text">
  <label for="password">パスワード</label>
  <input name="password" id="password" type="password">
  <button type="submit">登録</button>
  </form>
{% endblock %}
