{% extends 'serverctl/base.html' %}

{% block title %}index{% endblock %}

{% block content %}
  <h1>マイページ</h1>
  <h2>名前</h2>{{ user.username }}
  <h2>参加サーバー</h2>
  <ul>
  {% for group in groups %}
    <li>
    {{ group.name }}({{ group.game.name }})
    </li>
  {% endfor %}
  </ul>
  <h2>支払い</h2>
  {% for payment in payments %}
    <li>
    {{ payment.group.name }}({{ payment.group.game.name }}) {{ payment.amount }}円
    {% if payment.paid %}
      支払い済み
    {% else %}
      未決済
    {% endif %}
    </li>
  {% endfor %}
{% endblock %}
