{% extends 'serverctl/base.html' %}

{% block title %}index{% endblock %}

{% block content %}
  サーバー詳細
  <h2>サーバー名</h2>
  {{ server_group.name }} ({{ server_group.game.name }})
  <h2>サーバー状態</h2>
  {{ server.get_status_display }}
  {% if server.status == 'STOPPING' %}
    スタート
  {% elif server.status == 'RUNNING' %}
    ストップ
  {% endif %}
  <h2>メンバー</h2>
  <ul>
  {% for player in players %}
    <li>
    <a href="{% url 'serverctl:player_detail' pk=player.pk %}">{{ player.user.username }}</a>
    </li>
  {% endfor %}
  </ul>
  <h2>メンバー追加</h2>
  <form action="{% url 'serverctl:add_player' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="group" value="{{ server_group.id }}">
    {{ add_player_form.user }}
    {{ add_player_form.roll }}
  <button type="submit">追加</button>
  </form>
{% endblock %}
